
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Noto+Sans+Mono:wght@100..900&display=swap');
/* Handlee, Noto Sans Mono */

/* Wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans Mono";
    color: #516662;
}

h1, h2, h3 {
    font-family: "Handlee", sans-serif;

}

h1 {
    font-weight: bolder;
}

/* Header */
header{
    padding: 2px 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f7c3;
    box-shadow: 0 1px 2px #516662;
}

header a {
    color: #516662;
    text-decoration: none;
}

/* Nav styles with dropdown menu */
nav {
    position: absolute;
    display: none;
    top: 100%;
    background-color: #f9f7c3;
    width: 100%;
    left: 0;
    box-shadow: 0 1px 2px #516662;
    text-align: center;
    padding: 0 0 10px 10px;
    font-size: 110%;
    font-weight: bold;
}

/* Menu display toggle */
#dropdown-menu:checked~nav {
    display: block;
}

#dropdown-menu {
    display: none;
}


/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

/* Footer */
#social-links {
    background-color: #f9f7c3;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
    font-size: 170%;
}

#social-links a {
    color: #516662;
}